<div id="us">
  <div id="filter">
    <h1>usuarios</h1>
  </div><br>
  <div id="scroll">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Correo</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of usuarios; index as i">
          <tr *ngIf="i<maxindex && i>=minindex">
            <th scope="row">{{item.id}}</th>
            <td>{{item.usrNombre}}</td>
            <td>{{item.usrApellido}}</td>
            <td>{{item.usrCorreo}}</td>
            <td>
              <button mat-stroked-button (click)="a(item)">Actualizar</button>
              <button mat-stroked-button>Eliminar</button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="pagination pagination-lg">
      <li class="page-item"><a class="page-link" (click)="previus()">Previous</a></li>

      <li class="page-item"><a class="page-link" (click)="next()">Next</a></li>
    </ul>
  </nav>

</div>