<div id="d">
<div>
<mat-grid-list cols="2" rowHeight="300" >
  <mat-grid-tile colspan="2" rowspan="1" >
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Sensor de temperatura
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
          <div id="h">
        <app-chart ></app-chart>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Sensor de humedad
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        
        <app-humedad ></app-humedad>
          
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Sensor de temperatura
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        
        <ngx-gauge id="n"
            [type]="gaugeType" 
           [value]="gaugeValue" 
           [min]="min"
           [max]="max"
           [label]="gaugeLabel"  
           [append]="gaugeAppendText"
           [thresholds]="thresholdConfig">
           
        </ngx-gauge>
       
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Sensor de luminosidad
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <app-luminosidad></app-luminosidad>       
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>  
</mat-grid-list>
</div>
</div>