<div [hidden]="form" id="us">
    <div class="container">

        <div class="starter-template">

            <div class="row">

                <div class="col-md-12 mt-5">

                    <h1>{{ titulo }} </h1>

                    <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label>Nombres</label>
                            <input type="text" formControlName="n" [ngModel]="nombre" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.n.errors }" />

                            <div *ngIf="submitted && f.n.errors" class="invalid-feedback">
                                <div *ngIf="f.n.errors.required">Por favor, ingresa tu Nombre</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" formControlName="a" [ngModel]="apellido" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.a.errors }" />
                            <div *ngIf="submitted && f.a.errors" class="invalid-feedback">
                                <div *ngIf="f.a.errors.required">Por favor, ingresa el Apellido</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="text" formControlName="email" [ngModel]="correo" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">El email es obligatorio</div>
                                <div *ngIf="f.email.errors.email">Por favor, ingresa tu Email</div>
                            </div>
                        </div>

                        <!-- <div class="form-group">
                        <label for="postre"> Postre</label>
                        <select class="form-control" formControlName="postre"
                            [ngClass]="{ 'is-invalid': submitted && f.postre.errors }">
                            <option value="">Seleccionar</option>
                            <option value="Crema Volteada">Crema Volteada</option>
                            <option value="Gelatina de Fresa">Gelatina de Fresa</option>
                            <option value="Keke de Naranja">Keke de Naranja</option>
                            <option value="Pie de Manzana">Pie de Manzana</option>
                            <option value="Torta de Chocolate">Torta de Chocolate</option>

                        </select>
                        <div *ngIf="submitted && f.postre.errors" class="invalid-feedback">
                            <div *ngIf="f.postre.errors.required">Por favor, Selecciona el Postre</div>
                        </div>
                    </div> -->
                        <div class="form-group">
                            <label>Clave</label>
                            <input type="text" formControlName="cl" [ngModel]="contrasena" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.cl.errors }">
                            <div *ngIf="submitted && f.cl.errors" class="invalid-feedback">
                                <div *ngIf="f.cl.errors.required">Por favor, ingresa la Clave ( 6 Caracteres mínimo )
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button [disabled]="loading" class="btn btn-primary">Aceptar</button>
                        </div>

                    </form>

                </div>


            </div>

        </div>

    </div>
</div>
<div [hidden]="usuarios">
    <app-usuarios></app-usuarios>
</div>