#contenedor{
    width: 80%;
    height: 80%;
    margin: auto;
    padding: 50px;
    /* border: 1px solid blue; */
}
#detalles{
    float: left;
    width: 20%;
    height: 90%;
    margin-left: 10px;
    border: 1px solid purple;
    text-align: center;  
}
#areas{
    float: left;
    width: 48%;
    height: 90%;
    margin-right: 10px;
    /* border: 1px solid black; */
    text-align: center;
}
#binding{
    float: left;
    width: 20%;
    height: 90%;
    margin-left: 10px;
    border: 1px solid purple;
    text-align: center;  
}